/* .main {
  flex: 1;
} */

.container {
  width: 80vw;
  padding: 50px 0 50px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    width: 60vw;
  }

  @media only screen and (min-width: 1440px) {
    width: 50vw;
    max-width: 1280px;
    padding: 115px 0 115px;
  }
}

.title {
  font-size: 28px;
  font-weight: 500;
  color: #1a1a1a;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;

  @media only screen and (min-width: 1440px) {
    font-size: 36px;
    font-weight: 700;
  }
}

.description {
  font-size: 18px;
  color: #444;
  line-height: 28px;
  margin-bottom: 16px;
}
