.main {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  background-color: rgb(247, 249, 250);
}

.container {
  width: 100%;
  max-width: 500px;
  background: #ffffff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.title {
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
  color: #1a1a1a;
  text-align: center;

  @media only screen and (min-width: 768px) {
    font-size: 36px;
    font-weight: 700;
  }
}
