.footer {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
  /* width: 100vw; */
  /* max-width: 375px; */

  @media only screen and (max-width: 375px) {
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }
}

.footer a {
  color: #550c72;
  font-weight: 600;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.emailSpan {
  padding: 0px 4px;
}
